.aboutMain{
    background-color: #db2d43;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
  }
  .aboutText{
    width: 70%;
    height: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
   
   
  }

  .letterRec{
    text-decoration: none;
    color:white;
    font-size: 1.7rem;
    background-color: brown;
    padding:.6em
  }

  .letterRec:hover{
    background-color: #920518;
    color:white;
    transition: 0.5s;
    transform: scale(1.1);
  }

 /*xs*/
@media (max-width:639px){

}

/*sm*/
@media (min-width:640px) and (max-width:767px){

}

/*md*/
@media (min-width:768px) and (max-width:1023px){
 
}

/*lg*/
@media (min-width:1024px) and (max-width:1279px){

}

/*xl*/
@media (min-width:1280px) and (max-width:1535px){
 
}

/*2xl*/
@media (min-width:1536px){
}