  /*Footer*/

  .footerMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    flex: 1;
    height: 14vh;

  }

  .linkedIn, .gitHub, .eMail{
    height: 5vh;
    width: auto;
  
  }
  .circle{
    background-color: white;
    height: 5vh;
    width:2.5vw;
    border-radius: 8em;
    transition: background-color 0.5s; /* Add this */
  }
  
  .about {
    background-color:#db2d43;
    transition: background-color 0.5s; /* Add this */
  }
  
  .projects {
    background-color: #87e5da;
    transition: background-color 0.5s; /* Add this */
  }
  
  .skills {
    background-color:#c7f2e3;
    transition: background-color 0.5s; /* Add this */
  }
  
  .resume {
    background-color: #f7aa00;
    tr


 /*xs*/
 @media (max-width:639px){
}

/*sm*/
@media (min-width:640px) and (max-width:767px){
}

/*md*/
@media (min-width:768px) and (max-width:1023px){
}

/*lg*/
@media (min-width:1024px) and (max-width:1279px){
}

/*xl*/
@media (min-width:1280px) and (max-width:1535px){
}

/*2xl*/
@media (min-width:1536px){
}
 