

/*languages*/
.languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2em;
    color:white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2em;
    width:50%;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    font-size: 1.3em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
  }


 /*xs*/
 @media (max-width:639px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.1em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:90%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.1;
    font-size: .85em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
  }

}

/*sm*/
@media (min-width:640px) and (max-width:767px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.5em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:90%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.1;
    font-size: .85em;
    flex:1;
   
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
  }
}

/*md*/
@media (min-width:768px) and (max-width:1023px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:90%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.1;
    font-size: .9em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
  }
}
@media (min-width:768px) and (max-width:1023px)and (min-height:768px) and (max-height:1500px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:70%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
  }

}
/*lg*/
@media (min-width:1024px) and (max-width:1279px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.1em;
    color: white;
    flex:1;
    overflow: auto; 
    
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:70%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    font-size: 1em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
    padding-top:1em;
  }
}

@media (min-width:1024px) and (max-width:1279px)and (min-height:1024px) and (max-height:1500px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:70%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.5;
    font-size: 1.4em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
  }

}


/*xl*/
@media (min-width:1280px) and (max-width:1535px){
  .languagesMain{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:.1em;
    color: white;
    flex:1;
    overflow: auto; 
  }
  
  .languageText{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    width:70%;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 1.4;
    font-size: 1.25em;
    flex:1;
  }
  
  .languagesList{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1.5em;
    flex-wrap: wrap;
    height: 6vh;
    padding-top: 2em;
  }
}

/*2xl*/
@media (min-width:1536px){

}
 