

.letterMain{
    background-color:#D46892;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
    
}

.letterCont{
    width: 70%;
    font-size: 1.5rem;
    overflow-y: scroll;
    scrollbar-color: #D46892 ;
    scrollbar-width: thin;
    height:90%
}



 /*xs*/
 @media (max-width:639px){


    .letterMain{
        background-color: #D46892;
        width:100%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
    .letterCont{
        width: 82%;
        font-size: 1rem;
        overflow-y: scroll;
        scrollbar-color: #D46892;
        scrollbar-width: thin;
        height:90%
    }
    
    
    
    }
    
    /*sm*/
    @media (min-width:640px) and (max-width:767px){
        .letterMain{
            background-color: #D46892;
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            
            
        }
        
        .letterCont{
            width: 82%;
            font-size: 1rem;
            overflow-y: scroll;
            scrollbar-color: #D46892;
            scrollbar-width: thin;
            height:90%
        }
        
    }
    
    /*md*/
    @media (min-width:768px) and (max-width:1023px){
        .letterMain{
            background-color: #D46892;
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            
            
        }
        
        .letterCont{
            width: 82%;
            font-size: 1rem;
            overflow-y: scroll;
            scrollbar-color: #D46892;
            scrollbar-width: thin;
            height:90%
        }
        
    }
    
    /*lg*/
    @media (min-width:1024px) and (max-width:1279px){
        .letterMain{
            background-color: #D46892;
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            
            
        }
        
        .letterCont{
            width: 82%;
            font-size: 1rem;
            overflow-y: scroll;
            scrollbar-color: #D46892;
            scrollbar-width: thin;
            height:90%
        }
        
    }
    
    /*xl*/
    @media (min-width:1280px) and (max-width:1535px){
        .letterMain{
            background-color: #D46892;
            width:100%;
            height:100%;
            display:flex;
            align-items: center;
            justify-content: center;
            
            
        }
        
        .letterCont{
            width: 82%;
            font-size: 1rem;
            overflow-y: scroll;
            scrollbar-color: #D46892;
            scrollbar-width: thin;
            height:90%
        }
        
    }
    
    /*2xl*/
    @media (min-width:1536px){

    }
     