
/*site body*/
.siteBody{
    display:flex;
    width:100vw;
    height:70vh;
    align-items: center;
    justify-content: center;
    flex:1;
    }
    
    
    .mainContainer{
     display: flex;
     align-items: center;
     justify-content: center;
    width:78%;
     height:100%;
    
    }

 
 /*xs*/
@media (max-width:639px){
}

/*sm*/
@media (min-width:640px) and (max-width:767px){
}

/*md*/
@media (min-width:768px) and (max-width:1023px){
}

/*lg*/
@media (min-width:1024px) and (max-width:1279px){
}

/*xl*/
@media (min-width:1280px) and (max-width:1535px){
}

/*2xl*/
@media (min-width:1536px){
}
 