/*Global*/
body{
  background-color: black;
  color: white;
  font-family: 'Josefin Slab', serif;
}

/*xs*/
@media (max-width:639px){
  body{
    background-color:red;
  };
}

/*sm*/
@media (min-width:640px) and (max-width:767px){
  body{
    background-color:yellow;
  };
}

/*md*/
@media (min-width:768px) and (max-width:1023px){
  body{
    background-color:blue;
  };
}

/*lg*/
@media (min-width:1024px) and (max-width:1279px){
  body{
    background-color:green;
  
  };
}

/*xl*/
@media (min-width:1280px) and (max-width:1535px){
  body{
    background-color:rgb(117, 81, 15);
  };
}

/*2xl*/
@media (min-width:1536px){
  body{
    background-color:purple;
  };
}