
/*Global*/
body{
  background-color: black;
  color: white;
  font-family: 'Josefin Slab', serif;
}

/*header*/
.headerTitle {
  
  overflow: hidden;
  width: 100vw; 
  height: 13vh;

  color: teal;
  font-weight: 900;
  font-family: 'Six Caps', sans-serif;
  font-size: 6.25em;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  flex: 1
}

.marquee span {
  animation: marquee 15s linear infinite; 
}


.span2{
  rotate: 180deg;
  color: rgba(102, 98, 98, 0.377)
}
.name{
  position: absolute;
   left:5em;
    top: -1em;
    color: hotpink;
    animation: marquee 45s linear infinite; 
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

  /*Footer*/

.footerMain{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex: 1
}
/*site body*/
.siteBody{
display:flex;
width:100vw;
height:70vh;
align-items: center;
justify-content: center;
flex:1;
}


.mainContainer{
 display: flex;
 align-items: center;
 justify-content: center;
width:78%;
 height:100%;

}

/*nav*/
.nav{
  display:flex;
  flex-direction: column;
  gap:4em;
   width:20%;
   flex:1;
}
#aboutLink{
  background-color:#db2d43;
 color: black;
 text-decoration: none;
 
}
#projectsLink{
  background-color: #87e5da;
 color:black;
 text-decoration: none;
}
#skillsLink{
  background-color:#c7f2e3;
 color:black;
 text-decoration: none;
}
#resumeLink{
  background-color: #f7aa00;
 color:black;
 text-decoration: none;
}

.hexagon {
  width: 15vw; 
  height: 2vh; 
  /* transform: skew(50deg);
  rotate: 50deg; */
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  padding-right: 2em;
  border: 1em solid white;
  border-radius: .1em;
  flex:1;
  transition: 0.5s;
}
.hexagon:hover{

  transition: 0.5s;
  rotate: 0deg;
  transform: scale(.90);
}

.hexagon.active {
 border:none;
  transition: 0.5s;
  rotate: 0deg;
  transform: scale(1.5) skew(0deg);
  justify-content: flex-end;
  width:16vw;
  height: vh;
}

/*Footer*/
.footerMain{
  height: 10vh;
  width:100vw;
}

/*mains*/
.aboutMain{
  background-color: #db2d43;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.aboutText{
  width: 50%;
  height: 50%;
  display:flex;
  align-items: center;
  justify-content: center;
  
 
 
}
.projectsMain {
  background-color: #87e5da;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
 
  place-items: center;
  justify-content: center;
 
}


.proj {
 
  height: 20vh;
  width: 25vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
gap:.25em
}
.proj:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.projA{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:.5em;
  text-decoration: none;
}

.projImg{
  height: 10vh;
  width: 15vw;

}

.projTitle{
  color:black;
  
}

.individualProjectMain{
  background-color: #87e5da;
  width: 100%;
  height: 100%;
  color:black;
  display:flex;
  align-items: center;
  justify-content: center;
  
  
}

.imgAndDescription{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:2em;
  
}
.projectDescriptionAndTech{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:3em;
width:70%;

}
.projectDescription{
  width:70%;
  text-align: center;
}
.projectTech{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:2.5em;
}

.liveGit{
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap:1.5em;
 
}
 .gita ,.livea{
  text-decoration: none;
  color:white;

}
.git, .live{
  display: flex;
  align-items: center;
  justify-content: center;
width:6vw;
background-color: black;
padding: 0.4em;
border-radius:.9em;
}
.git:hover, .live:hover{
  border-radius: 0em;
  background-color: rgba(0, 0, 0, 0.548);
  transition: 0.5s;
}
.backCont{
  display:flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding:.5em;
  margin:0px;
}
.indvProjImg{
  height: 13vh;
  width: 19vw;
 
}
.projectIndvImg{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap:2em;

}
/*skils*/
.skillsMain{
  background-color: #c7f2e3;
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color:black;
  gap:5em
}
.skillsExplination{
  display:flex;
  align-items: center;
  justify-content: center;
 width:30vw
  
}
.skillsImgsMain{
  background-color: #c7f2e3;
  
  display: grid;
  grid-template-columns:12vh 12vh 12vh 12vh 12vh  ;
  grid-template-rows:8vw 8vw 8vw 8vw   ;
  place-items: center;
  justify-content: center;
  
}

.skillComp{
  color:black;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:.4em
}

.skillImgs{
  height: 5vh;
  width: auto;
}
/*Resume*/
.resumeMain{
  background-color: #f7aa00;
  width:100%;
  height:100%;
  color:black;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap:1.5em
}

.resumeNav{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;


}

.resumeButton{
  background-color: #f7aa00;
  color:black;
  border: 1px solid black;
  border-top:none;
  padding: .5em;
  text-decoration: none;
  transition: 0.5s;
  width:20%;
  height: 5vh;
}
.resumeButtonActive {
  background-color: black;
  color: #f7aa00;
  transition: 0.5s;
 
}
.resumeButton:hover{
  background-color: black;
  color: #f7aa00;
  transition: 0.5s ;
 
}

/*education*/
.educationMain{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color:black;
}
.educationMainContainer{
display: grid;
grid-template-columns: 30vh 30vh ;
grid-template-rows: 10vw 10vw ;
padding:3em;
gap:4em;


}

.educationCont{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
line-height: .25em;

}

/*experience*/
.experienceMain{

}
.slide{

}
.job {
display:flex;
align-items: center;
justify-content: center;
padding:2em;
min-height:50vh;
background-color: white;
gap:1em;
border-radius: 5px;
}
.jobDetails{
 font-size: 1.75em;
 line-height: 1.5;
}
.jobList{
  width:35vw;
  line-height: 1.5;
  font-size: 1.25em;
  overflow: auto;
}
.slick-initialized {
 
}
.sliderBox{
  width:70vw;
  
}

/*hobbies*/
.hobbiesMain{
display:flex;
align-items: center;
justify-content: center;

height: 60vh;
width:70vw;

}

.hobbyImgs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  row-gap: 2em;
}

.hobbyImg{
  width:auto;
  height: 20vh;
  border-radius: 5px;
}

.hobbyCont{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hobbyName{
  font-size: 1.5em;
  font-weight: 900;
  
}
/*languages*/
.languagesMain{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:2em;
  color:black;
  flex:1;
  overflow: auto; 
}

.languageText{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:2em;
  width:50%;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  line-height: 1.5;
  font-size: 1.3em;
  flex:1;
}

.languagesList{
  display:flex;
  align-items: center;
  justify-content: center;
  gap:1.5em;
  flex-wrap: wrap;
}