
/*Global*/
body{
  background-color: black;
  color: white;
  font-family: 'Josefin Slab', serif;
}

/*header*/
.headerTitle {
  
  overflow: hidden;
  width: 100vw; /* Use vw for viewport width instead of vh */
  background-color: white;
  color: teal;
  font-weight: 900;
  font-family: 'Six Caps', sans-serif;
  font-size: 6em;
}

.marquee {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Prevents text from wrapping to the next line */
}

.marquee span {
  animation: marquee 15s linear infinite; 
 /* Adjust the duration as needed */
}
.span2{
  rotate: 180deg;
  color: rgba(102, 98, 98, 0.377)
}
.name{
  position: absolute;
   left:5em;
    top: -1em;
    color: hotpink;
    animation: marquee 45s linear infinite; 
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

/*Footer*/
.aboutMain{
  background-color: pink;
  display:flex;
  
}
.aboutTitle {
 background-color: lightblue;
}
.aboutContainer{
  background-color: lightgreen;
}
/*About*/


/*Projects*/

/*Skills*/

/*Resume*/